---
layout: main
title: Cover to Credits
---
<nav>
  <div class="huge-site-container">
    <a class="patreon-button" href="https://www.patreon.com/covertocreditspod" target="_blank" rel="noopener noreferrer"><img src="{{ site.baseurl }}/assets/images/patreon_button.png" alt="Become a Patron"></a>
  </div>
</nav>
<section class="title-blocks">
  <div class="site-container">
    <div class="left-llax">
      <img src="{{ site.baseurl }}/assets/images/book.svg" alt="" class="book rellax" data-rellax-speed="1">
      <img src="{{ site.baseurl }}/assets/images/adina.svg"  alt="that's Adina" class="face rellax" data-rellax-speed="-1">
      <img src="{{ site.baseurl }}/assets/images/reel.svg" alt="" class="reel rellax" data-rellax-speed="-1">
    </div>
    <img class="logo" src="{{ site.baseurl }}/assets/images/logo.svg" alt="Cover to Credits Logo" srcset="">
    <div class="right-llax">
      <img src="{{ site.baseurl }}/assets/images/book.svg" alt="" class="book" data-rellax-speed="1">
      <img src="{{ site.baseurl }}/assets/images/ian.svg"  alt="that's Ian" class="face rellax" data-rellax-speed="-1">
      <img src="{{ site.baseurl }}/assets/images/reel.svg" alt="" class="reel rellax" data-rellax-speed="-1.5">
    </div>
  </div>
</section>
<section class='yt-area'>
  <div id='ytbutton' class="rellax" data-rellax-speed="-1.75">
    <div class='arrow'></div>
    <div class='text'>Watch Intro</div>
  </div>
  <div id='ytex' class='ex'>
    <span></span>
    <span></span>
  </div>
  <iframe id="ytplayer" type="text/html"
  src="https://www.youtube.com/embed/IHSDDIY2HnU?autoplay=0&origin=http://github.com"
  frameborder="0"></iframe>
</section>
<section class="podcast">
  <div class="side-a" id='podtop'>
    <img src="{{ site.baseurl }}/assets/images/new_pod.png" alt="new pod banner" class="new-sticker active">
    <div class="img-box">
      <img src="" alt="This pod's poster" class="poster">
    </div>
    <div class="top">
      <div class="buttons">
        <img src="{{ site.baseurl }}/assets/images/Open Player.svg" alt="Play this Podcast" id="playerOpen" class="button">
      </div>
      <div class="text">
        <h2 class="title"></h2>
        <h3 class="date"></h3>
      </div>
    </div>
    <div class="bottom">
      <div class="buttons">
        <img src="{{ site.baseurl }}/assets/images/buttonDownload.svg" alt="Download this Podcast" id="downloadWidget" class="button">
        <a href='https://twitter.com/intent/tweet/' target='_blank' rel='noopener noreferrer'></a><img src="{{ site.baseurl }}/assets/images/buttonShare.svg" alt="Share this Podcast" id="shareWidget" class="button">
      </div>
      <div class="description"></div>
    </div>
  </div>
  <div class='more-episodes' id='moreps'>
    <span class='plus'>+</span>
    <span class='minus'>-</span>
    <span class='text'>More Episodes</span>
  </div>
  <div class="side-b-wrapper">
    <div class="side-b">
      <div class="spacer"></div>
    </div>
  </div>
</section>

<div class="mobile-player">
  <div id='mobilex' class='ex'>
    <span></span>
    <span></span>
  </div>
  <iframe title="Cover to Credits" id="multi_iframe" src="https://www.podbean.com/media/player/multi?playlist=http%3A%2F%2Fplaylist.podbean.com%2F1712774%2Fplaylist_multi.xml&vjs=1&kdsowie31j4k1jlf913=eb28e8c9d2593e98bd3fede89112c060aa9d3bad&skin=17&episode_list_bg=%23ffffff&bg_left=%235a3591&bg_mid=%235a3591&bg_right=%235a3591&podcast_title_color=%23ffffff&episode_title_color=%23ffffff" frameborder="0" scrolling="no" allowfullscreen="yes"></iframe>
</div>

<section class="about">
  <div class="medium-site-container">
    <div class="title-container">
      <h2 class="green-title">About</h2>
      <div class="social">
        <a href="https://www.patreon.com/covertocreditspod" target="_blank" class="icon"><img src="{{ site.baseurl }}/assets/images/patreon.svg" alt="Patreon"></a>
        <a href="https://www.facebook.com/CovertoCreditsPod" target="_blank" class="icon"><img src="{{ site.baseurl }}/assets/images/face.svg"    alt="Facebook"></a>
        <a href="https://twitter.com/CovertoCredits" target="_blank" class="icon"><img src="{{ site.baseurl }}/assets/images/twitter.svg"   alt="Twitter"></a>
        <a href="https://www.instagram.com/covertocreditspod/" target="_blank" class="icon"><img src="{{ site.baseurl }}/assets/images/insta.svg"   alt="Instagram"></a>
        <a href="https://www.youtube.com/channel/UC_W-KTO-_-JQDLkyTeNnXNQ" target="_blank" class="icon"><img src="{{ site.baseurl }}/assets/images/tube.svg"    alt="YouTube"></a>
      </div>
    </div>
    {% include about.html %}
  </div>
</section>
<section class="people">
  <div class="medium-site-container">
    <div class="adina-flex">
      <div class="images">
        <img class="object" src="{{ site.baseurl }}/assets/images/book.svg" alt="avid reader">
        <img class="person rellax" src="{{ site.baseurl }}/assets/images/adina.svg" alt="Adina Hilton" data-rellax-speed="1" data-rellax-percentage="0.5">
      </div>
      <div class="text-flex">
        <h2 class="purple-title">Adina Hilton</h2>
        {% include adina.html %}
      </div>
    </div>
    <div class="ian-flex">
      <div class="images">
        <img class="object" src="{{ site.baseurl }}/assets/images/reel.svg" alt="movie buff">
        <img class="person rellax" src="{{ site.baseurl }}/assets/images/ian.svg" alt="Ian George" data-rellax-speed="1" data-rellax-percentage="0.3">
      </div>
      <div class="text-flex">
        <h2 class="purple-title">Ian George</h2>
        {% include ian.html %}
      </div>
    </div>
  </div>
</section>
<section class="cred-heads">
  <div class="medium-site-container">
    <h2 class="green-title">On Patreon</h2>
    <div class="cred-head-flex">
      {% include patreon.html %}
      <img class="rellax" src="{{ site.baseurl }}/assets/images/credhed.svg" alt="Become a Cred Head!" data-rellax-speed="1" data-rellax-percentage="0.5">
    </div>
    <a class="patreon-button" href="https://www.patreon.com/covertocreditspod" target="_blank" rel="noopener noreferrer"><img src="{{ site.baseurl }}/assets/images/patreon_button.png" alt="Become a Patron"></a>
  </div>
</section>
<footer>
  <img class="ft-logo" src="{{ site.baseurl }}/assets/images/logo.svg" alt="">
  <div class="social">
    <a href="https://www.patreon.com/covertocreditspod" target="_blank" class="icon"><img src="{{ site.baseurl }}/assets/images/footer-patreon.svg" alt="Patreon"></a>
    <a href="https://www.facebook.com/CovertoCreditsPod" target="_blank" class="icon"><img src="{{ site.baseurl }}/assets/images/footer-facebook.svg"    alt="Facebook"></a>
    <a href="https://twitter.com/CovertoCredits" target="_blank" class="icon"><img src="{{ site.baseurl }}/assets/images/footer-twitter.svg"   alt="Twitter"></a>
    <a href="https://www.instagram.com/covertocreditspod/" target="_blank" class="icon"><img src="{{ site.baseurl }}/assets/images/footer-instagram.svg"   alt="Instagram"></a>
    <a href="https://www.youtube.com/channel/UC_W-KTO-_-JQDLkyTeNnXNQ" target="_blank" class="icon"><img src="{{ site.baseurl }}/assets/images/footer-youtube.svg"    alt="YouTube"></a>
  </div>
</footer>

<section class="player">
  <div class="huge-site-container">
    <div id="progressbar">
      <div id="complete"></div>
    </div>
    <div class="times">
      <div id="starttime">0:00</div>
      <div id="endtime">0:0:00</div>
    </div>
    <div class="words-n-buttons">
      <div id="title"> </div>
      <div class="buttons">
        <img src="{{ site.baseurl }}/assets/images/30_sec_back.svg" alt="navigate back 30 seconds" id="back30">
        <img src="{{ site.baseurl }}/assets/images/buttonPlay.svg" alt="play the pod" id="play">
        <img src="{{ site.baseurl }}/assets/images/buttonPause.svg" alt="pause the pod" id="pause">
        <img src="{{ site.baseurl }}/assets/images/30_sec_forward.svg" alt="navigate forward 30 seconds" id="fwd30">
      </div>
    </div>

  </div>
</section>

