---
layout: main
title: Cover to Credits
---
<nav>
  <div class="site-container">
    <a class="patreon-button" href="#become" target="_blank" rel="noopener noreferrer"><img src="/cover2creds/assets/images/patreon_button.png" alt="Become a Patron"></a>
  </div>
</nav>
<section class="title-blocks">
  <div class="site-container">
    <div class="left-llax">
      <img src="/cover2creds/assets/images/book.svg" alt="" class="book rellax" data-rellax-speed="1">
      <img src="/cover2creds/assets/images/adina.svg"  alt="that's Adina" class="face rellax" data-rellax-speed="-1">
      <img src="/cover2creds/assets/images/reel.svg" alt="" class="reel rellax" data-rellax-speed="-1">
    </div>
    <img class="logo" src="/cover2creds/assets/images/logo.svg" alt="Cover to Credits Logo" srcset="">
    <div class="right-llax">
      <img src="/cover2creds/assets/images/book.svg" alt="" class="book" data-rellax-speed="1">
      <img src="/cover2creds/assets/images/ian.svg"  alt="that's Ian" class="face rellax" data-rellax-speed="-1">
      <img src="/cover2creds/assets/images/reel.svg" alt="" class="reel rellax" data-rellax-speed="-1.5">
    </div>
  </div>
</section>
<section class="podcast">
  <h2>This will be a section connected to the Podcast API</h2>
</section>
<section>
  <div class="flex-container">
    <h2>About</h2>
    <div>
      <a href="#social" target="_blank" class="icon"><img src="/cover2creds/assets/images/patreon.svg" alt="Patreon"></a>
      <a href="#social" target="_blank" class="icon"><img src="/cover2creds/assets/images/face.svg"    alt="Facebook"></a>
      <a href="#social" target="_blank" class="icon"><img src="/cover2creds/assets/images/twitter.svg"   alt="Twitter"></a>
      <a href="#social" target="_blank" class="icon"><img src="/cover2creds/assets/images/insta.svg"   alt="Instagram"></a>
      <a href="#social" target="_blank" class="icon"><img src="/cover2creds/assets/images/tube.svg"    alt="YouTube"></a>
    </div>
  </div>

  {% include about.html %}
</section>
<section>
  {% include adina.html %}
  {% include ian.html %}
</section>
<section>{% include patreon.html %}</section>
<footer>
  {% include footer.html %}
</footer>