---

---
<p>Hello and welcome to Cover to Credits, a podcast about books and their on-screen adaptations! Have you ever read a book and waited eagerly for its movie adaptation, only to be disappointed by the final result? On the flip side, have you ever watched a movie, only to realize it was based on a book? Have you ever wished you could dive deeper into what makes book adaptations so appealing?</p>
Cover to Credits is the perfect podcast for book, movie and TV lovers alike. In each episode, hosts Ian George and Adina Hilton compare a book to its movie or TV series adaptation, discussing content from all genres and time periods and analyzing what changes between mediums and creators. Episodes frequently feature discussions on how gender, race and sexual identity intersect in storytelling.
</p>
<p>If you have a recomendation for an episode, please reach out on social media, or email us at <a target="_blank" href="mailto:covertocreditspod@gmail.com?Subject=Hey%20C2C">CovertoCreditsPod@gmail.com</a></p>