// colors
$purple:         #5a3591;
$green:          #00abaf;
$light-green:    #c3e8e9;
$lightest-green: #e9f5f5;
$yellow:         #fff000;
$gray:           #585858;
$light-gray:     #979797;
$black:          #444444;
$white:          #fff;


// general style updates
* {
    scroll-behavior: smooth;
    scroll-margin-top: 50px;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #444444;
    scrollbar-width: none;
}

html, body {
    scroll-snap-type: y proximity;
}

nav, #podtop, .green-title { scroll-snap-align: start; }
footer { scroll-snap-align: end; }

section {
    min-height: 30vh;
    position: relative;
}

// containers
.huge-site-container {
    width: 1280px;
    max-width: 98%;
    margin: 0 auto;
}
.site-container {
    width: 1080px;
    max-width: 95%;
    margin: 0 auto;
}
.medium-site-container {
    width: 750px;
    max-width: 85%;
    margin: 0 auto;
}

// default link styling
a:link, a:visited, a:active {
    text-decoration: none;
    color: $gray;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
.button {
    cursor: pointer;
}

// components
.green-title {
    position: relative;
    font-family: 'Aleo';
    font-size: 51px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $green;
    &:after {
        content: '';
        display: block;
        background-color: $purple;
        height: 8px;
        width: 117px;
        position: absolute;
        bottom: -6px;
        left: 0;
    }
}
.purple-title {
    position: relative;
    z-index: 2;
    font-family: 'Ubuntu';
    font-size: 47px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $purple;
    &:before {
        content: '';
        display: block;
        background-color: $yellow;
        height: 80%;
        width: 250px;
        position: absolute;
        bottom: -10px;
        left: -10px;
        z-index: -1;
    }
}
.icon {
    height: 45px;
    width: 45px;
    margin-right: 45px;
    &:last-of-type {
        margin-right: 0;
    }
}
.social {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


nav {
    .huge-site-container {
        height: 95px;
    }
    .patreon-button {
        position: absolute;
        right: 25px;
        top: 25px;
        img {
            height: auto;
            width: 200px;
        }
    }
}
.title-blocks {
    padding-top: 50px;
    .site-container {
        width: 980px;
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .left-llax, .right-llax {
        max-width: 20%;
        display: flex;
        flex-direction: column;
    }
    .left-llax {
        .book {
            max-width: 195px;
            width: 90%;
            margin-left: 100px;
            padding-bottom: 50px;
        }
        .face {
            transform: rotate(-8deg);
            max-width: 210px;
            width: 100%;
            padding-bottom: 40px;
            &.adina {
                width: 120%;
            }
        }
        .reel {
            max-width: 120px;
            width: 70%;
            margin-left: 90px;
        }
    }
    .right-llax {
        .book {
            position: relative;
            right: 140px;
            transform: rotate(23deg);
            max-width: 150px;
            width: 70%;
            padding-bottom: 50px;
        }
        .face {
            transform: rotate(6deg);
            max-width: 180px;
            width: 100%;
            padding-bottom: 40px;
        }
        .reel {
            position: relative;
            max-width: 170px;
            width: 90%;
            right: 120px;
        }
    }
    .logo {
        position: absolute;
        top: 70%; left: 50%;
        transform: translate(-50%, -70%);
        width: 450px;
        max-width: 45%;
        height: auto;
    }
}
.podcast {
    margin: 200px auto 0;
    // min-height: min-content;
    width: 1000px;
    max-width: 90%;
    display: flex;
    flex-wrap: nowrap;
    .side-a {
        overflow: hidden;
        position: relative;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        background: $purple;
        width: calc(100% - 360px);
        max-width: 100%;
        // padding: 20px;
        * {
            color: $white;
        }
    }
    .new-sticker {
        position: absolute;
        top: 0; left: 0;
        display: none;
        z-index: 30;
        &.active {
            display: block;
        }
    }
    .img-box {
        width: 100%;
        overflow: hidden;
        position: relative;
        &:after {
            content: '';
            display: block;
            padding-top: calc(520 / 1280 * 100%);
        }
    }
    .poster {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    .top {
        display: flex;
        align-items: flex-start;
        margin-left: 40px;
        margin-top: 50px;
        .buttons {
            margin-right: 25px;
            width: 60px;
            height: 60px;
            margin-bottom: 60px;
        }
        .text {
            margin-right: 90px;
        }
    }
    .bottom {
        display: flex;
        align-items: flex-start;
        margin-left: 40px;
        margin-bottom: 100px;
        .buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-width: 60px;
            margin-right: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .description {
            margin-right: 90px;
        }
    }
    #playerOpen {
        color: $yellow;
        // border: $yellow solid 3px;
        // border-radius: 15px;
        cursor: pointer;
    }
    #playWidget {
        cursor: pointer;
        &.playing { display: none; }
    }
    #pauseWidget {
        display: none;
        cursor: pointer;
        &.playing { display: block; }
    }
    #downloadWidget {
        margin-bottom: 25px;
    }
    .title {
        font-family: Aleo;
        font-size: 32px;
        line-height: 1.2;
        color: #ffffff;
        padding-bottom: 7px;
    }
    .date {
        font-size: 20px;
        font-weight: bold;
        line-height: normal;
        color: #ffffff;
        padding-bottom: 28px;
    }
    .description {
        font-size: 16px;
        line-height: 1.4;
        color: #ffffff;
    }
    .more-episodes {
        cursor: pointer;
        display: none;
        width: 100%;
        background-color: $green;
        justify-content: flex-start;
        height: 30px;
        padding: 25px 0 40px;
        .minus { display: none; }
        .plus, .minus {
            min-width: 60px;
            margin-left: 40px;
            margin-right: 25px;
            text-align: center;
            font-size: 40px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 40px;
            letter-spacing: normal;
            color: #ffffff;
            height: 40px;
        }
        .text {
            font-size: 25px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 40px;
            letter-spacing: normal;
            color: #ffffff;
            height: 40px;
        }
        &.active {
            .minus { display: inline; }
            .plus { display: none; }
        }
    }
    .side-b-wrapper {
        position: relative;
        background: $lightest-green;
        color: $gray;
        width: 400px;
        min-width: 200px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .side-b {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
        margin: 15px;
        &::-webkit-scrollbar {
            width: 10px;
            background: #c3e8e9;
        }
        &::-webkit-scrollbar-thumb {
            background: #00abaf;
            border-radius: 15px;
        }
        .spacer { margin-right: 25px; }
        div {
            // because of harry pothead, font size is not huge
            font-size: 15px;
            line-height: 24px;
            cursor: pointer;
            padding: 15px 10px 20px;
            border-bottom: solid 1px $light-gray;
            &:hover {
                text-decoration: none;

            }
            &:first-of-type {
                margin-top: 0;
            }
            &:last-of-type {
                border-bottom: none;
            }
        }
    }
}
.about {
    padding-top: 200px;
    .title-container {
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;
        .green-title { margin-right: 60px; }
        .social {
            padding: 10px 0 0 80px;
            border-left: solid 1px $light-gray;
            .icon img { width: 100%; height: 100%; }
        }
    }
    p {
        margin-top: 45px;
        line-height: 1.5;
        a {
            font-weight: bold;
        }
    }
}
.people {
    .adina-flex, .ian-flex {
        margin-top: 150px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .adina-flex {
        flex-direction: row-reverse;
        .person {
            transform: rotate(14deg);
            padding-top: 10%;
            &.adina {
                width: 92%;
            }
        }
        .object {
            right: 0;
            transform: rotate(20deg);
        }
        .text-flex { padding-right: 60px; }
    }
    .ian-flex {
        .person {
            transform: rotate(-10deg);
            padding-left: 20%;
        }
        .object {
            left: 0;
            top: -20%;
        }
        .text-flex {
            padding-left: 60px;
        }
    }
    .text-flex {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 450px;
        max-width: 100%;
    }
    .images {
        position: relative;
        width: calc(100% - 450px);
        min-width: 170px;
        .person {
            z-index: 1;
            width: 80%;
        }
        .object {
            position: absolute;
            z-index: 0;
            width: 80%;
        }
    }
    p {
        margin-top: 45px;
        line-height: 1.5;
        position: relative;
        a {
            position: absolute;
            bottom: -50px;
            left: 0px;
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $green;
        }
    }
}
.cred-heads {
    padding-top: 150px;
    .cred-head-flex {
        display: flex;
        flex-wrap: nowrap;
    }
    p {
        margin-top: 45px;
        margin-right: 45px;
        width: 450px;
        line-height: 1.5;
    }
    .patreon-button {
        img {
            width: 200px;
            padding-top: 25px;
        }
    }
    .aftercreds-img {
        width: 100%;
        padding-top: 40px;
    }
    .aftercreds-caption {
        margin-top: 10px;
        font-style: italic;
    }
}

footer {
    background-color: $purple;
    margin-top: 130px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .ft-logo {
        width: 134px;
        margin: 60px 0;
        filter: brightness(100) contrast(1);
    }
    .icon {
        // filter: grayscale(1);
    }
    &.playing {
        margin-bottom: 124px;
    }
}

.player {
    transform: translateY(150px);
    transition: ease transform .2s;
    position: fixed;
    z-index: 99;
    padding: 10px 15px 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 110px;
    background: #3d1f6b;
    #progressbar {
        position: relative;
        height: 5px;
        width: calc(100% - 30px);
        background-color: #5a3591;
        margin: 15px;
        #complete {
            position: absolute;
            left: 0;
            height: 5px;
            background-color: #fff000;
        }
    }
    .times {
        padding: 0 15px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        #starttime, #endtime {
            font-size: 18px;
            font-weight: 500;
            color: #fff;
        }
    }
    .words-n-buttons {
        margin-top: 20px;
        margin-bottom: 10px;
        padding: 0 15px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
        position: relative;
        #title {
            font-size: 24px;
            font-weight: 500;
            color: #fff;
            max-width: 35%;
        }
        .buttons {
            position: absolute;
            display: flex;
            flex-wrap: nowrap;
            left: 50%;
            transform: translateX(-50%);
        }
        #back30, #play, #pause {
            cursor: pointer;
            margin-right: 20px;
        }
        #fwd30 { cursor: pointer; }
        #pause {
            cursor: pointer;
            display: none;
            &.playing { display: block; }
        }
        #play.playing { display: none; }
    }
}
.player.playing {
    transform: none;
}

// get rid of the multi-frame
.mobile-player {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 98;
    max-height: 0;
    overflow: hidden;
    transition: ease max-height .5s;
    #multi_iframe {
        // beep boop
        width: 100%;
        height: 100%;
    }
    &.playing {
        max-height: 10000px;
        transition-duration: .2s;
    }
}
.yt-area {
    margin: 0 auto;
}
#ytbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
    width: 230px;
    height: 64px;
    background-color: $yellow;
    .arrow {
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-left: 18px solid $purple;
    }
    .text {
        margin-left: 10px;
        font-size: 25px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $purple;
    }
}
#ytplayer {
    position: fixed;
    top: 0;
    max-height: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: ease max-height .5s;
    z-index: 98;
    &.open {
        max-height: 1000px;
        transition-duration: .2s;
    }
}

.ex {
    position: fixed;
    top: 10px;
    right: 0px;
    height: 40px;
    width: 40px;
    z-index: 99;
    padding: 30px;
    opacity: 0;
    transition: ease opacity .5s;
    cursor: pointer;
    span {
        position: absolute;
        height: 6px;
        width: 40px;
        background-color: $yellow;
        transition: ease transform .5s .5s;
    }
    &.open {
        opacity: 1;
        transition-duration: .2s;
        span:nth-child(2n-1) {
            transform: rotate(-45deg);
        }
        span:nth-child(2n) {
            transform: rotate(45deg);
        }
    }
}

@media (max-width: 900px) {
    .podcast {
        max-width: 100%;
        .side-a, .side-b-wrapper {
            border-bottom-left-radius: unset;
            border-bottom-right-radius: unset;
            border-top-left-radius: unset;
            border-top-right-radius: unset;
        }
    }
    .about {
        padding-top: 100px;
        .title-container {
            flex-direction: column;
            .social {
                padding: unset;
                border: unset;
            }
        }
        .green-title {
            margin-bottom: 75px;
        }
    }
}
@media (max-width: 800px) {
    .podcast {
        flex-direction: column;
        .side-a, .side-b-wrapper {
            width: 100%;
        }
        .more-episodes {
            display: flex;
        }
        .side-b-wrapper.mobile-open {
            height: 50vh;
        }
    }
    .cred-heads {
        .cred-head-flex img { display: none; }
    }
}

@media (max-width: 650px) {
    * {
        scroll-margin-top: 0px;
    }
    .title-blocks {
        .logo {
            top: 55%;
            transform: translate(-50%, -55%);
        }
    }
    .yt-area {
        padding-top: 10vh;
    }
    .podcast {
        .top, .bottom {
            margin-left: 5%;
            .description {
                margin-right: 5%;
            }
        }
        .more-episodes .plus, .more-episodes .minus {
            margin-left: 5%;
        }
    }
    .people {
        .adina-flex, .ian-flex {
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    .people .ian-flex .text-flex, .people .adina-flex .text-flex {
        padding-left: unset;
        padding-right: unset;
        align-self: flex-start;
        .purple-title { font-size: 40px; }
    }
    .people .adina-flex .text-flex { margin-bottom: 60px; }
    .cred-heads {
        p { margin-right: unset; width: 100%; }
        .aftercreds-img { padding-top: 56px; }
        .aftercreds-caption { margin-top: 15px; }
    }
    .player {
        display: none;
    }
    .mobile-player {
        display: block;
    }
}

@media (max-width: 500px) {
    .social {
        .icon {
            margin-right: 30px;
        }
    }
}

@media (max-width: 450px) {
    nav .huge-site-container {
        display: flex;
        justify-content: center;
        .patreon-button {
            position: relative;
            top: unset; right: unset;
            margin-top: 20px;
            img {width: 144px;}
        }
    }
    .title-blocks {
        padding-top: unset;
        .left-llax {
            .book { margin-left: 50px; }
            .reel {
                margin-left: 45px;
            }
        }
        .right-llax {
            .book { right: 50px; }
            .reel { right: 60px; }
        }
    }
    .about {
        padding-top: 100px;
    }
}

@media (max-width: 400px) {
    .social .icon {
        width: 35px;
        height: 35px;
        margin-right: 25px;
    }
}
