<!doctype html>
<html>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  <body>
    {{ content }}
  </body>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/downloadjs/1.4.8/download.min.js" integrity="sha256-k77iqKeo6Og1Lf5mawux2rTxjaV9zUtyOWKVX3VttKE=" crossorigin="anonymous"></script> -->
  <script src="{{ site.baseurl }}/assets/scripts/rellax.min.js"></script>
  <script src="{{ site.baseurl }}/assets/scripts/podbean.js"></script>
  <script src="{{ site.baseurl }}/assets/scripts/main.js"></script>
</html>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XV7NDJG2Z6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XV7NDJG2Z6');
</script>